<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  
  <!--Footer for CCSF-->
    <footer>
    <p>-------------------</p>
    <a href="/ccsf_rails/index">Home</a>
    <b>--</b>
    <a href="/ccsf_rails/links">Links</a>
    <b>--</b>
    <a href="/ccsf_rails/about">About</a>
    <b>--</b>
    <a href="/ccsf_rails/assignments">Assignments</a>
  </footer>
  
  <!--Footer for Rails  -->
  <!--<footer>-->
  <!--  <p>-------------------</p>-->
  <!--  <a href="/static_pages/home">Home</a>-->
  <!--  <b>--</b>-->
  <!--  <a href="/static_pages/help">Help</a>-->
  <!--  <b>--</b>-->
  <!--  <a href="/static_pages/about">About</a>-->
  <!--  <b>--</b>-->
  <!--  <a href="/static_pages/contact">Contact</a>-->
  <!--</footer>-->
</html>